
.replish_view_container {
    -fx-background-color: #EEEEEE;
}

.replish_view_container Text {
    -fx-fill: #000000;
    -fx-font-size: 1.2em;
    -fx-font-family: "Calibri Light";
    -fx-font-weight: bold;
}

.replish_view_container VBox {
    -fx-border-width: 0 0 0 1;
    -fx-border-color: #888888;
    -fx-padding: 10;
    -fx-spacing: 15;
}

.replish_view_container VBox Text {
    -fx-font-size: 1.2em;
}

.replish_view_container Label {
    -fx-font-size: 3.4em;
    -fx-font-weight: bold;
}

.replish_view_container TextField {
    -fx-pref-width: 230;
    -fx-pref-height: 35;
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
}

.replish_view_container Button {
    -fx-background-color: linear-gradient(to right, #132A13, #253F25);
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
    -fx-pref-width: 230;
    -fx-font-size: 1.5em;
    -fx-font-family: "Calibri Light";
    -fx-text-fill: #FFFFFF;
}

.replish_view_container Button:hover {
    -fx-cursor: hand;
}

.bank_selector {
    -fx-background-color: #e6e6e6;
}

.bank_selector .label {
    -fx-text-fill: #132A13;
    -fx-font-size: 1.1em;
}

.bank_selector .arrow {
    -fx-background-color: #132A13;
}

#choice-box-popup-menu {
    -fx-background-color: #e6e6e6;
}

